* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 70.5%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}
#myBtn {
  display: none;
  position: fixed; 
  bottom: 20px; 
  right: 30px;
  z-index: 99; 
  border: none;
  outline: none; 
  background-color: rgb(133, 77, 77); 
  color: white; 
  cursor: pointer;
  padding: 15px;
  border-radius: 10px; 
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #555; 
}
  

li {
  list-style: none;
}

a {
  text-decoration: none;
}


.collapse {
  display: flex;
  padding: 8PX;
  
}
body{
  background:url("banner.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}


.company-name{
  text-align: center;
  display: flex;
  justify-content: center;
}
.company-name h1{
  color: #101010;
  font-size:xx-large;
  padding-top: 25px;
  font-family: 'Satisfy', cursive;
}

ul li a{
  font-size: large;
  
}

.nav-item a{
  padding: 5px;
}

.bug{
  background-color: #70493d;
}

.container{
  margin-top: 583px;
  text-align: center;
  
}

.container h1{
  font-size: 36px;
  color: #fff;
  font-weight: 600;
  padding-top: 80px;
  margin-bottom: 25px;
}

h3{
  color: #fff;
}

.our_services{
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
}

.our_services .team_member{
  
  width: 250px;
  margin: 5px;
  padding: 20px 0px;
}

.our_services .team_member .member_img{
    
  max-width: 250px;
  height: 240px;
  position: relative;
  cursor: pointer;
}

.our_services .team_member .member_img img{
  width: 100%;
  height: 100%;
}

.our_services .team_member h3{
  font-size: 13px;
  margin: 15px 0 0px;
}

.our_services .team_member .member_img:hover{
  
  box-shadow: 0 0 30px 20px rgba(238, 180, 127, 0.2);
  transform: scale(1);
}




.images{
  text-align: center;
  background-color: #a77768;
}
.images h1{
  font-size: 36px;
  color: #fff;
  font-weight: 600;
  padding-top: 80px;
  margin-bottom: 25px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 50px;
}



.column {
  flex: 25%;
  max-width: 25%;
  padding: 50px 20px;
}

.column img {
  margin-top: 8px;
  border-style: none;
  border-radius: 10%;
  vertical-align: middle;
  width: 100%;
}


@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}



/*cards*/

.cards{
  text-align: center;
  background-color: #815345;
}
.card{
  color: #b4644b;
  
}
.cards h1{
  font-size: 36px;
  color: #fff;
  font-weight: 600;
  padding-top: 80px;
  margin-bottom: 25px;
}
.row02 {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 50px;
}



.column02 {
  flex: 25%;
  max-width: 25%;
  padding: 50px 20px;
}

.column02 img {
  margin-top: 8px;
  border-style: none;
  border-radius: 10%;
  vertical-align: middle;
  width: 100%;
}

.con{
  background-color: #555;
  size: 20rem;
}

.whatsapp_float{
  size: 20rem;
}

.card:hover {
  font-size: 150%;
}

@media screen and (max-width: 800px) {
  .column02 {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column02 {
    flex: 100%;
    max-width: 100%;
  }
}


/* for desktop */
.whatsapp_float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:80px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
        font-size:30px;
	box-shadow: 2px 2px 3px #999;
        z-index:100;
}

.whatsapp-icon {
	margin-top:16px;
}
/* for mobile */
@media screen and (max-width: 767px){
     .whatsapp-icon {
	 margin-top:10px;
     }
    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 80px;
        right: 40px;
        font-size: 22px;
    }
}



.main {
  max-height: 550px;;
  background-color: #b4644b;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 550px;
 }

 .footer-distributed{
  background-color: #b4644b;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
 }
  
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
 }
  
 .footer-distributed .footer-left{
  width: 40%;
 }
  
 .footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
 }
  
 .footer-distributed h3 span{
  color:  #5383d3;
 }
  
  
 .footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
 }
  
 .footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
 }
  
 .footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
 }
  
  
 .footer-distributed .footer-center{
  width: 35%;
 }
  
 .footer-distributed .footer-center i{
  background-color:  #e0bf28;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
 }
  
 .footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
 }
  
 .footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
 }
  
 .footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
 }
  
 .footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
 }
  
 .footer-distributed .footer-right{
  width: 20%;
 }
  
 .footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
 }
  
 .footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
 }
  
 .footer-distributed .footer-icons{
  margin-top: 25px;
 }
  
 .footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #e0bf28;
  border-radius: 2px;
  
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  
  margin-right: 3px;
  margin-bottom: 5px;
 }


  
  
 @media (max-width: 880px) {
  
  .footer-distributed{
  font: bold 14px sans-serif;
  
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  }
  
  .footer-distributed .footer-center i{
  margin-left: 0;
  }
  .main {
  line-height: normal;
  font-size: auto;
  }
  
 }


 .developer{
   background-color: #b33c18;
   align-items: center;
   display: flex;
   justify-content: center;
   padding-top: 8px;
   padding-bottom: 8px;
  
 }
.developer h3{
  font-family: 'Satisfy', cursive;
  padding: 5px;
}
 .developer a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #e0bf28;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
 }
  
